<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript">
      function getCheckedCheckboxesFor(checkboxName) {
          var checkboxes = document.querySelectorAll('input[name="' + checkboxName + '"]:checked'), values = [];
          Array.prototype.forEach.call(checkboxes, function(el) {
              values.push(el.value);
          });
          return values;
      }
      </script>
      <style>
      .campostyle{
        margin: 10px 5px -10px 5px;
        padding: 40px;
        display: flex;
        flex-direction: column;
      }
      .campostyle label {
      
      padding-right: 10px;
      white-space: nowrap;
      }
      .campostyle input {
      vertical-align: middle;
      }
      .campostyle label span {
      vertical-align: middle;
} 
      </style>
    <title>Admin</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ESPM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <span class="navbar-text">
            Navbar text with an inline element
          </span>
        </div>
    </nav>
    <div class="mx-auto" style="
    width: 500px;  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;">
        <form method="POST">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Ano Censo</label>
            <select class="form-control" id="exampleFormControlSelect1" name = "ano">
              <option value="2018">2018</option>ß
              <option value="2019">2019</option>
              <option value="2020">2020</option>
            </select>
          </div>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Nome do arquivo</span>
            </div>
            <input type="text" class="form-control" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="data">    
<!--          <span id ="data">
            <input name="employee" type="checkbox" value="Alex"/>
            <label for="employee">Alex</label>
            </span>-->  
            <div id="getcampos" class="campostyle"></div>
            <script type="text/javascript"
            src="{{ url_for('static', filename='admin.js') }}"></script>
            <button type="submit" class="btn btn-primary" style="margin-bottom: 20px;">Submit</button>
        </div>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

<!--class="mx-auto" style="width: 500px;"-->

